.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffecff;
    padding: 10px;
    margin-top: 10px;
  }
  
  .clear {
    clear: both;
  }
  
  .nav {
    border-style: solid;
    border-width: 3px;
    height: 55px;
  }
  
  .NavBar {
    border-style: solid;
    border-width: 3px;
    float: left;
    padding: 10px 20px;
    margin: 5px 10px;
  
  }
  
  .grid-container > div {
    background-color: rgba(247, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    margin: 5px;
  }